In [1]:
import pandas as pd
import ast
df=pd.read_csv("ptbxl_database.csv")
df.head()

,ecg_id,patient_id,age,sex,height,weight,nurse,site,device,recording_date,...,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
0,1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,...,True,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr
1,2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,...,True,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr
2,3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,...,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr
3,4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,...,True,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr
4,5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,...,True,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr

In [8]:

df.scp_codes = df.scp_codes.apply(lambda x: ast.literal_eval(x))

In [9]:
agg_df=pd.read_csv("scp_statements.csv",index_col=0)
agg_df=agg_df[agg_df.diagnostic == 1]

In [10]:
def aggregate_diagnostic(y_dic):
    tmp = []
    for key in y_dic.keys():
        if key in agg_df.index:
            tmp.append(agg_df.loc[key].diagnostic_class)
    return list(set(tmp))

In [11]:
df['diagnostic_superclass'] = df.scp_codes.apply(aggregate_diagnostic)

In [12]:
df

,ecg_id,patient_id,age,sex,height,weight,nurse,site,device,recording_date,...,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr,diagnostic_superclass
0,1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,...,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr,[NORM]
1,2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,...,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr,[NORM]
2,3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,...,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr,[NORM]
3,4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,...,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr,[NORM]
4,5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,...,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr,[NORM]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21794,21833,17180.0,67.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-05-31 09:14:35,...,NaN,", alles,",NaN,NaN,1ES,NaN,7,records100/21000/21833_lr,records500/21000/21833_hr,[STTC]
21795,21834,20703.0,300.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-05 11:33:39,...,NaN,NaN,NaN,NaN,NaN,NaN,4,records100/21000/21834_lr,records500/21000/21834_hr,[NORM]
21796,21835,19311.0,59.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-08 10:30:27,...,NaN,", I-AVR,",NaN,NaN,NaN,NaN,2,records100/21000/21835_lr,records500/21000/21835_hr,[STTC]
21797,21836,8873.0,64.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-09 18:21:49,...,NaN,NaN,NaN,NaN,SVES,NaN,8,records100/21000/21836_lr,records500/21000/21836_hr,[NORM]
21798,21837,11744.0,68.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-11 16:43:01,...,NaN,", I-AVL,",NaN,NaN,NaN,NaN,9,records100/21000/21837_lr,records500/21000/21837_hr,[NORM]

In [121]:
def generate_prompt(row):
    diagnostic_superclass_mapping = {
    '[NORM]': 'Normal ECG',
    '[MI]': 'Myocardial Infarction',
    '[STTC]': 'ST/T Change',
    '[CD]': 'Conduction Disturbance',
    '[HYP]': 'Hypertrophy'
}
    # sex = 'male' if row['sex'] == 1 else 'female'
    report = row['report']
    heart_axis = row['heart_axis'] if not pd.isnull(row['heart_axis']) else 'no heart axis data'
    infarction = "No infarction detected" if pd.isnull(row['infarction_stadium1']) else "Infarction detected"
    diagnostic_superclass_raw = row['diagnostic_superclass']
    
    # Constructing the prompt with diagnostic_superclass as-is
    prompt = (f"Generate a concise 1-line ECG report for a patient. "
              f"The report mentions: '{report}', heart axis as {heart_axis}, "
              f"diagnostic superclass: {diagnostic_superclass_raw}, and {infarction}. Generate only one line report nothing else. ")
    
    return prompt

In [122]:
# run for row 1
row = df.iloc[7]
print(row["heart_axis"])
print(generate_prompt(row))

LAD
Generate a concise 1-line ECG report for a patient. The report mentions: 'sinusrhythmus linkstyp qrs(t) abnormal    inferiorer infarkt     alter unbest.', heart axis as LAD, diagnostic superclass: ['MI'], and Infarction detected. Generate only one line report nothing else.

In [123]:
from langchain_community.llms import Ollama

llm = Ollama(model="llama3.1")

def get_model_response(user_prompt, system_prompt, temperature=0.2):  # Default to lower temperature for consistency
    prompt = f"""
        <|begin_of_text|>
        <|start_header_id|>system<|end_header_id|>
        { system_prompt }
        <|eot_id|>
        <|start_header_id|>user<|end_header_id|>
        { user_prompt }
        <|eot_id|>
        <|start_header_id|>assistant<|end_header_id|>
        Please ensure that all responses follow this structure:
        - Provide a brief introduction, outlining the main topic.
        - Present key details in a structured, bullet-point format if applicable.
        - End with a concise conclusion or next steps, depending on the query.
        <|eot_id|>
    """
    response = llm.invoke(prompt, temperature=temperature)
    return response

In [126]:

def generate_report(row):
    user_prompt = generate_prompt(row)
    print(user_prompt)
    system_prompt = "Strictly 1 line only. Generate only report nothing else. Start main report with | and end with |. Do not include any other information. Do not use the pghrase 'ECG report' in the report."
    response = get_model_response(user_prompt, system_prompt)
    return response

In [129]:

row = df.iloc[10]
print(generate_report(row))

Generate a concise 1-line ECG report for a patient. The report mentions: 'sinus arrhythmie sonst normales ekg', heart axis as no heart axis data, diagnostic superclass: ['NORM'], and No infarction detected. Generate only one line report nothing else.
| Sinus arrhythmia present; normal ECG findings; no heart axis data available; diagnostic classification: NORM; no infarction detected |

In [2]:
df.scp_codes

0                 {'NORM': 100.0, 'LVOLT': 0.0, 'SR': 0.0}
1                             {'NORM': 80.0, 'SBRAD': 0.0}
2                               {'NORM': 100.0, 'SR': 0.0}
3                               {'NORM': 100.0, 'SR': 0.0}
4                               {'NORM': 100.0, 'SR': 0.0}
                               ...
21794    {'NDT': 100.0, 'PVC': 100.0, 'VCLVH': 0.0, 'ST...
21795             {'NORM': 100.0, 'ABQRS': 0.0, 'SR': 0.0}
21796                           {'ISCAS': 50.0, 'SR': 0.0}
21797                           {'NORM': 100.0, 'SR': 0.0}
21798                           {'NORM': 100.0, 'SR': 0.0}
Name: scp_codes, Length: 21799, dtype: object

In [10]:
import pandas as pd

# Load the two files: your main DataFrame (ptbxl_database) and the abbreviation descriptions (scp_statements.csv)
df_scp_statements = pd.read_csv('scp_statements.csv')  # Replace with your actual file path
ptbxl_df = pd.read_csv('ptbxl_database.csv')  # Replace with your actual file path
import pandas as pd
import ast  # For safely evaluating string representations of dictionaries

# Load the two files: your main DataFrame (ptbxl_database) and the abbreviation descriptions (scp_statements.csv)
# df_scp_statements = pd.read_csv('path_to_your_scp_statements.csv')  # Replace with your actual file path
# ptbxl_df = pd.read_csv('path_to_your_ptbxl_database.csv')  # Replace with your actual file path

# Rename 'Unnamed: 0' to 'abbr' for abbreviation
df_scp_statements = df_scp_statements.rename(columns={'Unnamed: 0': 'abbr'})

# Create a dictionary mapping abbreviations to descriptions
description_dict = df_scp_statements.set_index('abbr')['description'].to_dict()

# Function to concatenate descriptions for abbreviations with values > 0
def concatenate_descriptions_above_zero(code_str):
    try:
        # Safely evaluate the string into a dictionary
        code_dict = ast.literal_eval(code_str)
    except (ValueError, SyntaxError):
        # If the string cannot be parsed, return an empty string or the original string
        return ''
    
    # Now check for keys with values > 0
    keys_above_zero = [key for key, value in code_dict.items() if value > 0]
    descriptions = [description_dict.get(key, key) for key in keys_above_zero]  # Get description or fallback to key if missing
    return ' '.join(descriptions)

# Apply this function to the 'scp_codes' column of your dataframe and create a new column 'report_with_descriptions'
ptbxl_df['report_with_descriptions'] = ptbxl_df['scp_codes'].apply(concatenate_descriptions_above_zero)

# View the updated dataframe
ptbxl_df[["ecg_id",'scp_codes', 'report_with_descriptions'.'filename_lr','filename_hr']].to_csv("ptbxl_database_with_descriptions.csv")